@charset "utf-8";
*{-webkit-text-size-adjust: none;}
body{
  font-family: 'Microsoft Yahei', STHeiti, -apple-system, BlinkMacSystemFont, sans-serif;
  background: #f6f6f6;
  /* padding-left: constant(safe-area-inset-left);
  padding-right: constant(safe-area-inset-right);
  padding-bottom: constant(safe-area-inset-bottom);
  padding-top: constant(safe-area-inset-top); */
}
.overflow{
  overflow: hidden;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.fb{
  font-weight: 600;
}
input::-webkit-input-placeholder { 
  /* WebKit browsers */ 
  color: #ccc;
} 
input::-moz-placeholder { 
  /* Mozilla Firefox 19+ */ 
  color: #ccc;
} 
input:-ms-input-placeholder { 
  /* Internet Explorer 10+ */
  color: #ccc;
}