$orange = #f8601a;
$orange_light = #FEEFE8;
$white = #ffffff;
$bg_gray = #ECEDF1;
$font_3 = #333333;
$font_6 = #666666;
$font_9 = #999999;
$divider_deep = #cfcfd3;
$divider = #EFEFF4;
$user-tab = #E9E7E7;
$tool-tab = #272A2F;
$chat-tab = #F5F5F5;
$input-tab = #FFFFFF;
$border = #83bbff;
$black = #000000;
$red = #ff0000;

